body {
  background: #bdbdbd;
  padding: 0px 0px 0px 0px;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding-bottom: 0px;
}

.jumbotron-bg {
  background-image: url("/website/assets/img/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  min-width: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
}

.jumbotron-content {
  background-color: white; /* Add white background color */
  text-align: center; /* Center align text */
  font-size: 100px;
  font-weight: bold;
}

.fotoHeading {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  margin-top: 40px;
}

.fotoHeading2 {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  margin-top: 0px;
  padding: 0px 0px 0px 0px;
}

.formcontainer {
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 5px;
  margin: 0 auto;
  width: 850px;
  background-color: whitesmoke;
  height: 300px;
}

#texxt {
  width: 100%;
  height: 150px;
  resize: none;
}

.btn-right {
  text-align: right;
}

.card-body h4 {
  font-size: 20px;
  color: blue;
}	

.card-body {
width: 300px;
}	